#root {
  display: flex;
  justify-content: center;
  margin: 0;
}

main {
  width: 80%;
  min-width: 600px;
  display: flex;
  flex-direction: column;

}

input {
  width: 200px;
}

button {
  margin-left: 8px;
}

.inputDesc {
  margin: 0;
}

.customPathExample {
  margin: 0;
  color:#757575;
}

.customURLButtonsContainer {
  display: flex;
  flex-direction: row;
}

.customKeyContainer {
  margin-bottom: 16px;
  right: 20px
}

.urlTypeButton {
  margin: 10px;
  padding: 2px 5px 2px 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.urlTypeButton:hover {
  cursor: pointer;
}

.Selected {
  color: white;
  background-color: rgb(60, 60, 60);
}

.navContainer {
  width: 100%;
  display: flex;
  color: #2a97a6;
  background-color: #ffffff;
}

.leftNavItems {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightNavItems {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.urlShortenerContainer {
  display: flex;
  flex-direction: column;
}

.newURLContainer {
  display: flex;
  flex-direction: row;
}

.link:hover {
  cursor: pointer;
}

.Rlink {
  margin-left: 20px;
}